@import url('https://fonts.googleapis.com/css?family=Montserrat:500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=DM+Sans:regular,700&display=swap');
:root {
	--main-color: #2b2626;
	--footer-color: #111;
	--main-white: #fff;
	--main-bg-color: #845EC2;
	--elements-bg: #10B981;
	--btn-hover-bg: #0c996a;
	--header-product-bg: #ECFEF4;
	--font-family: 'Montserrat','Arial', 'Helvetica', sans-serif;
	--footer-font-family: 'DM Sans','Arial', 'Helvetica', sans-serif;
	--font-size: 21px;
	--price-fsz: 31px;
	--reviews-fsz: 26px;
	--font-weight: 500;
	--h1-fsz: 64px;
	--section-title-fsz: 44px;
	--semi-bold-fw: 600;
	--bold-fw: 700;
	--footer-fw: 400;
	--footer-fsz: 15px;
	--footer-secondary-fsz: 17px;
	--footer-titles-fsz: 22px;
}

[class*="-container"] {
	max-width: 1300px;
	margin: 0 auto;
	padding: 0px 15px;
}
body{
	line-height: 1;
	font-family: var(--font-family);
	font-size: var(--font-size);
	font-weight: var(--font-weight);
	color: var(--main-color);
	background-color: var(--main-white);
}
.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: var(--font-size);
	font-weight: var(--semi-bold-fw);
	text-transform: capitalize;
	color: var(--main-white);
	background-color: var(--elements-bg);
	min-width: 263px;
	min-height: 70px;
	padding: 5px;
	border-radius: 10px;
	transition: background-color 0.3s ease 0s;
}
.btn:hover{
	background-color: var(--btn-hover-bg);
}
.link-hover{
	font-weight: var(--semi-bold-fw);
	position: relative;
}
.link-hover::after{
	content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  background-color: var(--main-white);
  height: 1px;
	transition: width 0.2s ease 0s;
}
.link-hover:hover::after{
	width: 100%;
}
.section-actions {
	display: flex;
	gap: 50px;
	align-items: center;
}
.section-title{
	font-size: var(--section-title-fsz);
	font-weight: var(--semi-bold-fw);
	text-align: center;
}
.section-price-view{
	font-size: var(--price-fsz);
	line-height: 1.1;
}
.section-price-view span{
	font-weight: var(--semi-bold-fw);
}
/* ============================================================ */
/* ============================================================ */
/* user-actions fixed block =================================== */
.user-actions {
	padding: 55px 0px;
}
.user-actions-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	gap: 38px;
}
.logo {
	flex: 1 0 auto;
	width: 172px;
	height: 49px;
}
.logo img{
	height: 100%;
}
.search-form {
	position: relative;
}
.search-input {
	box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);
	min-width: 322px;
	min-height: 63px;
	padding: 0px 60px 0px 32px;
	border-radius: 10px;
}
.search-input::placeholder{
	font-family: var(--font-family);
	font-size: 1rem;
	font-weight: var(--font-weight);
	text-transform: capitalize;
	color: rgba(0,0,0,0.2);
}
.search-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 38px;
	height: 38px;
	background-color: var(--elements-bg);
	border-radius: 5px;
	position: absolute;
	top: 50%;
	right: 13px;
	transform: translateY(-50%);
}
.user-actions-btns {
	display: flex;
	flex-wrap: wrap;
	gap: 25px;
}
.cart-btn {
	border-radius: 40px;
	background-color: var(--main-white);
	color: var(--main-color);
	font-size: 1rem;
	font-weight: var(--font-weight);
	border: 1px solid var(--elements-bg);
}
.cart-btn:hover{
	background-color: #e4fff0;
}
.cart-btn::before{
	content: '';
	display: block;
	width: 16px;
	height: 20px;
	background: url('../images/header/header-icons/cart.png') 50% 50% no-repeat;
	margin-right: 15px;
}
.login-btn {
	border-radius: 40px;
	font-family: inherit;
	font-size: 1rem;
	font-weight: var(--font-weight);
}
.login-btn::before{
	content: '';
	display: block;
	width: 16px;
	height: 22px;
	background: url('../images/header/header-icons/login.png') 50% 50% no-repeat;
	margin-right: 15px;
}
/* ============================================================ */
/* ============================================================ */
/* HEADER ===================================================== */
.header {
	padding: 10px 0px 66px 0px;
}
.header-menu {
	padding: 0px 0px 38px 0px;
}
.menu-body {
	background-color: var(--elements-bg);
}
.menu-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	column-gap: 75px;
	row-gap: 20px;
}
.menu-link {
	font-weight: var(--semi-bold-fw);
	color: var(--main-white);
	display: inline-block;
	padding: 30px 0;
}
.menu-link::after{
  bottom: 20px;
	transition: width 0.3s ease 0s;
}
/* header-main-content ============================================= */
.header-content {
	padding-top: 38px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	column-gap: 128px;
	row-gap: 50px;
}
/* header-main-info ============================================= */
.header-body {
	flex: 1 1 calc(50% - 64px);
	padding-top: 50px;
}
.header-info{
	display: flex;
	flex-direction: column;
	row-gap: 50px;
}
.header-info:not(:last-child){
	margin-bottom: 107px;
}
.header-title {
	font-size: var(--h1-fsz);
	font-weight: var(--semi-bold-fw);
	line-height: 1.2;
	text-transform: capitalize;
}
.header-text {
	line-height: 1.67;
}
.header-btn {
	align-self: flex-start;
}
.header-reviews {
	display: flex;
	align-items: center;
	column-gap: 14px;
}
.reviews-images {
	font-size: 0;
}
.reviews-images img{
	width: 61px;
	height: 60px;
	border-radius: 50%;
}
.reviews-images img:not(:first-child){
	margin-left: -22px;
}
.reviews-text {
	max-width: 110px;
	font-size: var(--reviews-fsz);
	line-height: 1.35;
}
/* header-product-info ============================================= */
.header-product {
	padding: 95px 0px 33px 0px;
	flex: 1 1 calc(50% - 64px);
	align-self: flex-end;
	display: flex;
	column-gap: 20px;
	background: url('../images/header/star-bg.png') 10% 0 no-repeat;
}
.play-video-link {
	flex: 0 0 120px;
	align-self: flex-end;
	display: flex;
	flex-direction: column;
	row-gap: 18px;
	align-items: center;
}
.play-video-img{
	flex: 0 0 70px;
	padding: 6px;
	border: 2px solid transparent;
	background: linear-gradient(white,white) padding-box, linear-gradient(210deg, rgba(16,185,129,1) 0%, rgba(16,185,129,0) 60%) border-box;
	border-radius: 50%;
	background-origin: border-box;
	background-clip: padding-box, border-box;
}
.play-video-link span{
	line-height: 1.67;
	text-transform: capitalize;
}
.header-product-info {
	background-color: var(--header-product-bg);
	padding: 76px 0px 38px 0px;
	border-radius: 150px;
	position: relative;
}
.header-product-info::after{
	content: '';
	display: block;
	width: 53px;
	height: 53px;
	background: url('../images/header/star-bg.png') 50% 50% no-repeat;
	position: absolute;
	right: -79px;
	bottom: -35px;
}
.header-product-name {
	position: absolute;
	transform: rotateZ(-20deg)translateY(-80%)translateX(-10%);
}
.header-product-img img{
	width: 100%;
}
.header-product-img:not(:last-child){
	margin-bottom: 26px;
}
.header-product-price {
	font-size: var(--price-fsz);
	font-weight: var(--semi-bold-fw);
	text-align: center;
}
/* ============================================================ */
/* ============================================================ */
/* MAIN ======================================================= */
/* FEATURED PRODUCTS ========================================== */
.featured-products {
	padding: 73px 0 45px;
	background-color: var(--main-bg-color);
	color: var(--main-white);
}
.featured-products-container {
	display: flex;
	flex-wrap: wrap;
	gap: 55px;
}
.featured-products-shape {
	display: flex;
	flex-direction: column;
	gap: 5px;
	align-items: center;
}
.featured-products-name {
	font-size: 60px;
	font-weight: var(--semi-bold-fw);
	color: var(--main-bg-color);
	text-shadow: 
	-1px -1px 0 #fff,  
	1px -1px 0 #fff,
	-1px 1px 0 #fff,
	1px 1px 0 #fff;
}
.featured-products-name:not(:last-child){
	margin-bottom: 50px;
}
.featured-products-images {
	display: flex;
	gap: 32px;
}
.featured-products-img img{
	max-width: 100%;
}
.featured-products-img:nth-child(2) img{
	margin-top: -80px;
}
.featured-products-content {
	padding-top: 73px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.featured-products-title {
	text-align: left;
}
.featured-products-text {
	max-width: 520px;
	line-height: 1.67;
}
.featured-products-text:not(:last-child){
	margin-bottom: 15px;
}
.featured-products-link {
	line-height: 1.67;
	text-transform: capitalize;
}
/* ============================================================ */
/* ============================================================ */
/* CARDS SECTION ============================================== */
.product-presentation {
	padding: 130px 65px;
}
.product-presentation-title:not(:last-child){
	margin-bottom: 55px;
}
.tabs-navigation {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
}
.tabs-navigation:not(:last-child){
	margin-bottom: 90px;
}
.tabs-title {
	padding: 30px 25px;
	font-family: inherit;
	font-size: 26px;
	font-weight: var(--semi-bold-fw);
}
.tabs-title._tab-active {
	background-color: var(--elements-bg);
	color: var(--main-white);
	border-radius: 50%;
}
.tabs-content {
  position: relative;
}
.tabs-body {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.tabs-body._active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  position: relative;
}
.tabs-body-slider {
	position: relative;
}
/* ============================================================ */
/* ============================================================ */
/* slider navigation ========================================== */
.slider-button-prev,
.slider-button-next{
	width: 64px;
	height: 64px;
	position: absolute;
	top: 50%;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10;
	transform: translateX(-100%)translateY(-50%);
	cursor: pointer;
}
.slider-button-prev::after,
.slider-button-next::after{
	content: '';
	width: 0;
	height: 0;
	border: solid var(--elements-bg);
	border-width: 0 5px 5px 0;
	padding: 10px;
	transform: rotate(135deg);
}
.slider-button-next {
	left: 100%;
	transform: translateX(0%)translateY(-50%);
}
.slider-button-next::after{
	transform: rotate(-45deg);
}
/* ============================================================ */
/* ============================================================ */
/* cards in slider ============================================ */
.product-item {
	display: flex;
	flex-direction: column;
	gap: 30px;
	height: 100%;
}
.additional-info {
	font-size: var(--footer-secondary-fsz);
	color: var(--main-white);
	background-color: var(--elements-bg);
	padding: 28px 12px;
	border-radius: 50%;
	display: block;
	width: 100px;
	height: 100px;
	text-align: center;
	font-weight: 600;
	line-height: 1.2;
	position: absolute;
	top: 13px;
	right: 19px;
}
.product-item-body {
	padding: 30px 21px 18px;
	background: #ECFEF4;
	border-radius: 15px;
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 30px;
	align-items: center;
	justify-content: flex-start;
}
.product-pic{
	position: relative;
	padding-bottom: 78.3%;
	width: 250px;
}
.product-pic img{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
.product-item-info {
		flex-grow: 1;
	background-color: var(--main-white);
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	gap: 15px;
	padding: 30px 52px;
}
.product-item-name {
	line-height: 1.67;
}
.product-item-price {
	font-weight: 600;
}
/* ============================================================ */
/* ============================================================ */
/* rating ===================================================== */
.rating-block{
	display: flex;
  align-items: center;
  column-gap: 15px;
}
.rating {
	display: flex;
	justify-content: flex-end;
	flex-direction: row-reverse;
	column-gap: 2px
}
.rating input[type="radio"] {
	display: none;
}
.rating label {
	font-size: var(--footer-titles-fsz);
	color:lightgray;
	cursor: pointer;
	position: relative;
}
.rating label::before {
	content: "★";
	position: relative;
	display: inline-block;
	transition: color 0.2s linear 0s;
}
/* Підсвічування при наведенні */
.rating label:hover::before,
.rating label:hover ~ label::before {
	color: #c00;
}
/* Після вибору — підсвітити всі до вибраної */
.rating input[type="radio"]:checked ~ label::before {
	color: #c00;
}
.rating-value {
	font-size: 11px;
	color: #888;
}
/* ============================================================ */
/* ============================================================ */
/* NEW LAUNCHES =============================================== */
.fresh-roducts {
	padding: 65px 0;
}
.fresh-products-title:not(:last-child) {
	margin-bottom: 120px;
}
.fresh-products-body {
	padding: 62px 0;
	background-color: var(--main-bg-color);
	color: var(--main-white);
}
.fresh-products-container {
	padding: 0 55px;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	column-gap: 82px;
	row-gap: 50px;
}
.fresh-products-prev-btn,
.fresh-products-next-btn {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	background-color: var(--elements-bg);
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateX(-50%)translateY(-50%);
}
.fresh-products-next-btn{
	left: 100%;
}
.fresh-products-prev-btn::after,
.fresh-products-next-btn::after {
	content: '';
	width: 0;
	height: 0;
	border: solid var(--main-white);
	border-width: 0 3px 3px 0;
	padding: 3px;
	transform: rotate(-45deg);
}
.fresh-products-prev-btn::after{
	transform: rotate(135deg);
}
/* ============================================================ */
.fresh-products-images {
	padding-top: 50px;
	display: flex;
	flex-wrap: wrap;
	column-gap: 40px;
}
.fresh-products-image{
	position: relative;
	padding-bottom: calc(418/521*100%);
	flex: 0 1 240px;
	width: 240px;
}
.fresh-products-image img{
	border-radius: 120px;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
.fresh-products-image:first-child img{
	margin-top: -50px;
}
.fresh-products-content {
	padding-top: 11px;
	display: flex;
	flex-direction: column;
	gap: 25px;
}
.fresh-products-content-title {
	text-transform: capitalize;
	font-size: 60px;
	font-weight: var(--semi-bold-fw);
}
.fresh-products-text {
	max-width: 584px;
	line-height: 1.67;
}
.fresh-products-link {
	font-weight: var(--semi-bold-fw);
	text-transform: capitalize;
}
.fresh-products-color-selection {
	padding: 25px 0;
	display: flex;
	column-gap: 35px;
}
.color-option-button {
	width: 43px;
	height: 43px;
	border-radius: 50%;
	background-color: #000;
	border: 2px solid transparent;
	transition: border-color 0.3s ease 0s;
}
.color-option-button.yellow {background-color: #FFF500;}
.color-option-button.blue {background-color: #4484FF;}
.color-option-button.active{
	border-color: #c00;
}
.fresh-products-link{
	line-height: 1.67;
	text-transform: capitalize;
}
/* ============================================================ */
/* ============================================================ */
/* FOOTER ===================================================== */
.footer {
	padding: 65px 0 130px;
	font-family: var(--footer-font-family);
	font-size: var(--footer-fsz);
	font-weight: var(--footer-fw);
	color: var(--footer-color);
}
.footer a{
	font-weight: var(--footer-fw);
}
.footer-container {
	max-width: 1098px;
}
/* footer top================================================== */

.footer-top {
	min-height: 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;
	gap: 40px;
	padding-bottom: 40px;
	box-shadow: 0px 1px 0px 0px rgba(17, 17, 17, 0.1);
}
.footer-text {
	font-size: var(--footer-titles-fsz);
}
.footer-btn {
	font-size: var(--footer-secondary-fsz);
	font-weight: var(--bold-fw);
	min-width: 175px;
	min-height: 50px;
	border-radius: 2px;
}
/* footer content============================================== */
.footer-content {
	padding: 40px 0px 70px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	column-gap: 100px;
	row-gap: 50px;
}
.subscribe-title {
	font-size: var(--footer-titles-fsz);
	letter-spacing: -0.3px;
	max-width: 170px;
	line-height: 1.2;
}
.subscribe-title:not(:last-child),
.subscribe-form:not(:last-child){
	margin-bottom: 30px;
}
.subscribe-form {
	position: relative;
}
.subscribe-input {
	padding: 0px 53px 0px 3px;
	min-width: 290px;
	min-height: 50px;
	box-shadow: 0px 1px 0px 0px rgba(17, 17, 17, 0.1);
}
.subscribe-input::placeholder {
	font-family: var(--footer-font-family);
	font-size: var(--footer-fsz);
	font-weight: var(--footer-fw);
	letter-spacing: -0.2px;
	color: rgba(17, 17, 17, 0.5);
}
.subscribe-btn {
	width: 50px;
	height: 50px;
	background-color: var(--elements-bg);
	border-radius: 10px 10px 0px 0px;
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	display: flex;
	justify-content: center;
	align-items: center;
}
.subscribe-btn::after{
	content: '';
	width: 0;
	height: 0;
	border: solid var(--main-white);
	border-width: 0 3px 3px 0;
	padding: 3px;
	transform: rotate(-45deg);
}
/* footer MENU ============================================= */
.footer-menu {
	flex: 1 0 auto;
}
.footer-menu-list {
	display: flex;
	flex-wrap: wrap;
	column-gap: 170px;
	row-gap: 50px;
}
.footer-menu-link {
	font-size: var(--footer-secondary-fsz);
	letter-spacing: -0.23px;
	color: var(--elements-bg);
	display: inline-block;
}
.footer-menu-link:not(:last-child){
	margin-bottom: 20px;
}
.footer-menu-link::after,
.footer-submenu-link::after{
  bottom: -5px;
  background-color: var(--elements-bg);
	transition: width 0.2s ease 0s;
}
.footer-submenu {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
}
.footer-submenu-link {
	letter-spacing: -0.2px;
}
.footer-submenu-link::after{
  background-color: var(--footer-color);
}
/* footer bottom============================================= */
.footer-bottom {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.data-policy {
	display: flex;
	flex-wrap: wrap;
	column-gap: 40px;
	row-gap: 20px;
}
.social-icons {
	display: flex;
	column-gap: 40px;
	align-items: center;
}
.social-icons a{
	flex: 0 1 22px;
	height: 22px;
}
.social-icons a img{
	height: 100%;
}

